{% extends "layout.njk" %}

{% block content %}
  <div class="conteudo">
    <section class="imagem" style="background: url({{teacher.avatar_url}}) no-repeat center center / cover"></section>
    <section>
      <div class="detalhes">

        <form method="POST" action="/execution-sucess?_method=PUT">
          <h3>Editar cadastro</h3>

          {% include 'teachers/fields.njk'%}

          <input type="hidden" name="id" value="{{teacher.id}}">

          <div class="botoes">
            <button type="submit" onclick="ValidadeValues(event)">Salvar</button>

          </form>

          <form id="form-delete" action="/delete?_method=DELETE" method="post">
            <input type="hidden" name="id" value="{{teacher.id}}">
            <button type="submit">Deletar</button>
          </div>

          {% include '../confirm.njk'%}

        </form>
      </div>
    </section>

  </div>
{% endblock content %}