<!DOCTYPE html>
<html>
    <head>
        
        {% block head %}
        <title>Classes Manager</title>
        {% endblock %}

        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header>
            <div class="links-header">
                <a href="/teachers">Professores</a>
                <a href="/students">Alunos</a>
            </div>
        </header>

        {% block content %}

        {%endblock%}
        <script src="/scripts.js"></script>
    </body>
</html>