{% extends "layout.njk" %}

{% block content %}
    <div class="conteudo lottie">
        <div class="success-lottie"></div>
         <div class="content-lottie">
        <p>Cadastro deletado com sucesso.</p>
        
        <a href="/">Clique aqui para retornar a página inicial</a>
        </div>
    </div>

 <script src="/lottie.min.js"></script>
<script>
  const element = document.querySelector('.success-lottie')

  lottie.loadAnimation({
  container: element, // the dom element that will contain the animation
  renderer: 'svg',
  loop: true,
  autoplay: true,
  path: '/delete.json' // the path to the animation json
});
</script>
{% endblock content %}